@font-face {
  font-family: "Bold";
  src: url("./AreaKilometer50-ow3xB.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.Home {
  text-align: center;
}


.header_div {
  background-color: #090909;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .body {
  padding-top: 97.93px;
}

.logo {
  margin: .75% 10% .75% 1%;
  width: 15%;
}

.header_link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1rem;
  padding: .75%;
}

#current {
  text-decoration: underline white;
  text-underline-offset: 4px;
}

.header_text_div {
  margin: 0% 2% 0% 0%;
  flex-direction: column;
}

.header_text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  color: white;
  font-size: .75rem;

}

.main_1_div {
 z-index: -1;
}

.main_1 {
  z-index: -1;
  width: 100%;
  position: relative;
}

.main_1_text_div{
  width: 100%;
}

.main_1_text {
  /* border: solid 2px;
  border-color: red; */
  width: 80%;
  border-bottom: 10px solid;
  font-family: "Bold";
  font-size: 8rem;
  font-weight: 900 bold;
  font-style: italic;
  color: #090909;
  white-space: nowrap;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_1_button_div {
  width: 100%;
}

.main_1_button {
  background-color: #090909;
  border: 2px solid;
  border-color: #090909;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  word-spacing: -5px;
  padding: .75%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub_main_emp_div {
  margin: 5% 10% 5% 10%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sub_main_img {
  width: 60%;
  border-radius: 4px;
  box-shadow: 0 5px 10px grey;
  margin-bottom: 10%;
}

.sub_main_button {
  background-color: transparent;
  border: 2.5px solid;
  border-color: #090909;
  border-radius: 4px;
  color: #090909;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1rem;
  padding: .75% 2% .75% 2%;
}

.vl {
  height: 400px;
  border: 1px solid;
  border-color: rgb(205, 205, 205);
}

.sub_main_grid_div{
  
  z-index: 2;
}


.grid_img {
  width: 20%;
  margin: 5%;
  box-shadow: 0 5px 10px grey;
  border-radius: 4px;
}

.grid_text {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 2.5rem;
}

.sub_main_buttom {
  background-color: #090909;
  padding: 0%;
  /* margin-bottom: -13%; */
  border-top-left-radius: 4px;
}

.wood_background {
  width: 100%;
  /* height: 125vh; */
  box-shadow: 0 -5px 10px grey;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sub_main_buttom_content {
  width: 100%;
  position: relative;
  top: -500px;
  display: flex;
  align-items: center;
}

.cal_schedule {
  border: 2px solid red;
  width: 50%;
}

iframe {
  border: 2px solid red;
  width: 50%;
}


.footer {
  background-color: #090909;
  margin: 0;
  padding: 5%;
}
