@font-face {
  font-family: "Bold";
  src: url("./AreaKilometer50-ow3xB.ttf");
} 


.App {
  text-align: center;
}

.header_div {
  background-color: #090909;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .body {
  padding-top: 97.93px;
}

.logo {
  margin: .5% 0% .5% 0%;
  width: 15%;
}

.header_text_div {
  flex-direction: column;
}

.header_text {
  color: white;
  font-size: .75rem;
}

.main_1_div {
 z-index: -1;
}

.main_1 {
  z-index: -1;
  width: 100%;
  position: relative;
}

.main_1_text_div{
  width: 100%;
}

.main_1_text {
  /* border: solid 2px;
  border-color: red; */
  font-family: "Bold";
  font-size: 8rem;
  color: #090909;
  white-space: nowrap;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
